<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AutoFact</title>
    <script type="module" src="~/lib/shoelace/shoelace.bundle.js"></script>
</head>
<body>
    <header>
        <nav style="display: flex; align-items: center;">
            <h1>AutoFact</h1>

            <ul>
                <a asp-action="Index" asp-controller="Home">Factures</a>
            </ul>
        </nav>
    </header>
    <div class="">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
